baseline_filtered_variants.QUAL20_MQ40_AN80_MAF0.03_DP1SD.Baypass_table* filter=lfs diff=lfs merge=lfs -text
timeseries_filtered_variants.QUAL20_MQ40_AN80_MAF0.03_DP1SD.Baypass_table* filter=lfs diff=lfs merge=lfs -text
pop_baseline_9.sites.pi filter=lfs diff=lfs merge=lfs -text
ENV_*_trim.tsv filter=lfs diff=lfs merge=lfs -text
loci_win.csv filter=lfs diff=lfs merge=lfs -text
WZA_snps_env*_bf.csv filter=lfs diff=lfs merge=lfs -text
